<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list</title>
    <link rel="stylesheet" href="css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <div class="box" id="heading">
        <h1>Heyy it's a <%= listTitle %> </h1>
    </div>

    <div class="box">
        <ul>
            <% for (let i = 0; i < newListItems.length; i++) { %>
                <div class="item">
                    <input type="checkbox">
                    <p> <%= newListItems[i] %> </p>
                </div>
            <% } %> 
        </ul>

        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button name="list" type="submit" value=<%= listTitle %> >+</button>
        </form>
    </div>
</body>

<footer>
    copyright @2018 The App Brewery
</footer>

</html>